#burger {
  background-image: url('../img/ic-burger.svg');
}

#logo {
  background-color: transparent;
  border-radius: 0;
  background-image: url('../img/ic-CPSLogo.svg');
}

#call {
  background-image: url('../img/ic-call.svg');
}

#chat {
  background-image: url('../img/ic-chat.svg');
}

#profile {
  background-image: url('../img/ic-profile.svg');
}

#repair {
  background-image: url('../img/ic-repair.svg');
}

#checkStatus {
  background-image: url('../img/ic-checkstatus.svg');
}

#cross {
  background-image: url('../img/ic-cross.svg');
}
