$purple-color: #ff3e79;
$light-turquoise-color: #d9fff5;
$white-color: #fff;
$parawhite-color: #f8f8f8;
$light-grey-color: #eaeaea;
$blur-color: rgba(255, 255, 255, 0.913);
$pagination-bullet-color: #dddddd;
$pagination-bullet-active-color: #b5b6bc;
$grey-color: #7e7e82;
$parablack-color: #1b1c21;
$fullTtransparency: rgba(255, 255, 255, 0);
