html {
  box-sizing: border-box;
  font-family: 'TT Lakes Regular', Times, serif;
  max-width: 1440px;

  * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    &:before,
    &:after {
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }
  }

  body {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 1440px) {
      display: flex;
    }
  }
}
