.description__text {
  font-size: 14px;
  color: #1b1c21;
  overflow: hidden;
  font-weight: 500;

  .description__toggler-text {
    font-family: 'TT Lakes Medium', Times, serif;
    display: flex;
    line-height: 24px;

    &:before {
      content: url('../img/ic-expand.svg');
    }
  }

  @media (max-width: 767px) {
    .description__toggler-text {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .description__text {
      height: 90px;
      line-height: 18px;
    }
  }

  @media (min-width: 768px) and (max-width: 1119px) {
    .description {
      height: 208px;
      padding-right: 48px;
    }

    .description__toggler-text {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .description__text {
      min-width: 312px;
      max-height: 160px;
      line-height: 20px;
    }
  }
}
