.footer {
  background-color: #f8f8f8;
  color: #7e7e82;
  font-size: 14px;

  .footer__wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;

    &:first-child {
      text-align: start;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}
