.footer {
  background-color: #f8f8f8;
  color: #7e7e82;
  font-size: 14px;

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: #d9fff5;
  }

  .footer__wrapper {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 16px;

    @media (min-width: 768px) {
      flex-direction: row;
      padding-right: 24px;
      padding-left: 24px;
    }

    @media (min-width: 1440px) {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}
