.heading {
  font-family: 'TT Lakes Bold', Times, serif;
  font-size: 28px;
  color: $parablack-color;

  &:before {
    content: url('../img/highlight.svg');
    display: block;
    position: absolute;
    left: 0px;
  }
}
