.icon {
  flex: 0 0 auto;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: opacity linear 0.2s;
  opacity: 100%;

  &:hover {
    transition: opacity linear 0.2s;
    opacity: 50%;
  }
}

.icon--title {
  display: none;

  @media (min-width: 1120px) {
    display: block;
  }
}

.icon--middle {
  margin: auto 0;
}
