@import url('./upper-menu.scss');
@import url('./main.scss');
@import url('./icon.scss');
@import url('./title.scss');
@import url('./description.scss');
@import url('./bookmark.scss');

html {
  box-sizing: border-box;
}

html,
div {
  font-family: 'TT Lakes Regular', Times, serif;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body,
html,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
