.language {
  display: flex;
  gap: 7px;
}

.language__option {
  cursor: pointer;
  transition: color linear 0.2s;
}

.language__option:hover {
  transition: color linear 0.2s;
  color: #ff3e79;
}

.language__option--current {
  color: #7e7e82;
}
