.pink-button {
  height: 32px;
  padding-left: 10px;
  right: 10px;
  background-color: #ff3e79;
  border: none;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'TT Lakes Bold', Times, serif;
  font-size: 12px;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: #00000014;
    transition: background-color 0.1s linear;
  }

  > span {
    &:after {
      content: url('../img/ic-right-white-arrow.svg');
      margin-left: 13px;
    }
  }
}
