@import url('./fonts.scss');
@import url('../../node_modules/swiper/swiper-bundle.css');
@import url('./index.scss');
@import url('./brands.scss');

html {
  box-sizing: border-box;
  font-family: 'TT Lakes Regular', Times, serif;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

button {
  border: none;
  background-color: transparent;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggler-showHide {
  cursor: pointer;
  font-family: 'TT Lakes Medium', Times, serif;
  display: flex;
  align-content: center;
  font-size: 16px;
  height: 24px;

  &::before {
    content: url('../img/ic-expand.svg');
  }
}

label > span {
  transition: all linear 0.2s;
}

@media (min-width: 1120px) {
  .upper-menu,
  .bookmark-menu__right-fade-effect {
    display: none;
  }
}

/* Служебные классы */

.js__expand {
  height: max-content;
}
