.swiper-slide {
  width: auto;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $pagination-bullet-color;
  }

  .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }
}
