.title {
  display: flex;
  justify-content: space-between;

  .title__icon-text {
    display: none;

    @media (min-width: 1120px) {
      display: inline;
      font-weight: 600;
      margin-right: 8px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  @media (min-width: 1120px) {
    .title__heading {
      font-family: 'TT Lakes Bold', Times, serif;
      font-size: 28px;
      color: #1b1c21;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        width: 8px;
        height: 40px;
        border-radius: 10px;
        background-color: #41f6d7;
      }
    }

    .title__right-area {
      display: flex;
      gap: 32px;
    }

    .title__icon-area {
      display: flex;
    }
  }
}
