.window {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;

  .window__heading {
    height: 80px;
    vertical-align: middle;
    font-family: 'TT Lakes Medium', Times, serif;
    background-image: linear-gradient(to right, #ffffff00, #fff);

    &::before {
      content: '';
      display: block;
      height: 1px;
      background-color: #d9fff5;
    }
  }

  .window__content-area {
    display: flex;
    flex-direction: column;
  }

  .window__brands {
    display: inline-flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .window__wrapper-heading {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7e7e82;
  }

  .window__wrapper-toggler {
    display: flex;
    padding-top: 0;
    padding-right: 0;
  }

  .window__swiper-container {
    padding: 16px;
  }

  .window__toggler-area {
    display: none;
  }

  .window__brands-swiper {
    &::after {
      z-index: 2;
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      width: 24px;
      height: 72px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), #fff);
    }

    &::before {
      z-index: 2;
      content: '';
      position: absolute;
      left: 0px;
      width: 24px;
      height: 72px;
      background: linear-gradient(to left, rgba(0, 0, 0, 0), #fff);
    }

    @media (min-width: 768px) {
      &::after,
      &::before {
        display: none;
      }
    }
  }

  @media (min-width: 768px) {
    .window__swiper-container {
      padding: 0;
    }

    .window__toggler-area {
      display: block;
    }

    .window__wrapper {
      padding: 24px;
    }

    .window__brands {
      height: 170px;
      row-gap: 16px;
      column-gap: 24px;
    }
  }

  @media (min-width: 1120px) {
    .window__wrapper {
      padding: 32px;
    }

    .window__brands {
      column-gap: 32px;
    }
  }
}
