/* Добавление шрифта */
@font-face {
  font-family: "TT Lakes Regular";
  src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot);
  src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Regular/TTLakes-Regular.woff) format("woff"),
    url(fonts/TTLakes/Regular/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot);
  src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Bold/TTLakes-Bold.woff) format("woff"),
    url(fonts/TTLakes/Bold/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aside {
  font-family: "TT Lakes Regular", Times, serif;
  width: 320px;
  position: absolute;
  left: 0;
  height: 100%;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 5px 0 50px 3px #bbb;
}

.aside__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
}

.aside-header {
  background-color: #ffffff;
}

.aside-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.aside-header__left,
.aside-header__right {
  display: flex;
  flex: 0 1 auto;
  gap: 16px;
}

.icon {
  flex: 0 0 auto;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  transition: opacity linear 0.2s;
  opacity: 100%;
}

.icon:hover {
  transition: opacity linear 0.2s;
  opacity: 50%;
}

.icon--middle {
  margin: auto 0;
}

.aside-header__left .icon:nth-child(2) {
  background-color: transparent;
  width: 98px;
  height: 52px;
}

.aside__bookmark-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 46px;
  margin-bottom: 46px;
}

.bookmark {
  display: flex;
  font-size: 16px;
  line-height: 24px;
}

.bookmark a {
  text-decoration: none;
  color: #1b1c21;
  transition: color linear 0.2s;
}

.bookmark a:hover {
  transition: color linear 0.2s;
  color: #ff3e79;
}

.bookmark--focus > a {
  color: #7e7e82;
}

.bookmark--focus:after {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  transform: translate(0, -4px);
  width: 8px;
  height: 32px;
  border-radius: 10px;
  background-color: #41f6d7;
}

.aside-footer {
  height: 188px;
}

.aside-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
}

.aside-footer__icons {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  width: 152px;
}

.contacts__email {
  margin-bottom: 12px;
}

.contacts__phone-number {
  font-family: "TT Lakes Bold", Times, serif;
  font-size: 24px;
  margin-bottom: 40px;
}

.contacts__email,
.contacts__phone-number {
  display: block;
  text-decoration: none;
  color: #1b1c21;
}

.contacts__email > span,
.contacts__phone-number > span {
  cursor: pointer;
  transition: color linear 0.2s;
}

.contacts__email > span:hover,
.contacts__phone-number > span:hover {
  transition: color linear 0.2s;
  color: #ff3e79;
}

.language {
  display: flex;
  gap: 7px;
}

.language__option {
  cursor: pointer;
  transition: color linear 0.2s;
}

.language__option:hover {
  transition: color linear 0.2s;
  color: #ff3e79;
}

.language__option--current {
  color: #7e7e82;
}
